/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
    macros {
        DASHLEFT: DASHLEFT {
            label = "ZM_zed_em_kay";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LCTRL>
                ;
        };
    };
};

/ {
    macros {
        DASHRIGHT: DASHRIGHT {
            label = "ZM_zed_em_kay";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp RIGHT>
                , <&macro_release &kp LCTRL>
                ;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// |  TAB |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | ENT  |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
//                    | GUI | LWR | SPC |   | SPC | RSE  | ALT |
                        bindings = <
   &kp ESC   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp TAB   &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp RET
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                &kp LGUI &mo 1 &kp SPACE     &kp SPACE    &mo 2     &kp RALT
                        >;
                };
                lower_layer {
						bindings = <&DASHLEFT>;
						bindings = <&DASHRIGHT>;
                        label = "NUMBER";
// -----------------------------------------------------------------------------------------
// |  ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | DEL  |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |     |HOME | UP  | END |  '  |  ENT |
// | SHFT |LCTRL|PSCRN| NEXT|PLAY |PREV |   | DLFT| LFT | DWN | RGT |DRGT | SHFT |
//                    | GUI |     | SPC |   | SPC |     | ALT |
                        bindings = <
   &kp ESC    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6    &kp N7   &kp N8   &kp N9    &kp N0     &kp DEL
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &trans    &kp HOME &kp UP   &kp END   &kp SQT    &kp RET
   &kp LSHFT  &kp LCTRL    &kp PSCRN    &kp K_PREV   &kp K_PP     &kp K_NEXT     &DASHLEFT &kp LEFT &kp DOWN &kp RIGHT &DASHRIGHT &kp RSHFT
                          	        &kp LGUI     &trans       &kp SPACE      &kp SPACE  &trans   &kp RALT
                        >;
                };

                raise_layer {
                        label = "SYMBOL";
// -----------------------------------------------------------------------------------------
// |  `   |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | TAB  |     |     |     |     |     |   |  -  |  =  |  [  |  ]  | "|" | ENT  |
// | SHFT |LCTRL|     |     |     |     |   |  _  |  +  |  {  |  }  |  \  | SHFT |
//                    | GUI |     | SPC |   | SPC |     | ALT |
                        bindings = <
   &kp GRAVE &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BKSP
   &kp TAB   &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp PIPE &kp RET
   &kp LSHFT &kp LCTRL &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp BSLH &kp RSHFT
                    	     &kp LGUI &trans   &kp SPACE   &kp SPACE   &trans    &kp RALT
                        >;
                };
        };
};
